# Python Basics 
## Part 1. Simple Calculations with Basic Data Types

In [1]:
# addition
2 + 2

4

In [2]:
# multiplication
2 * 2

4

In [3]:
# division
3 / 2

1.5

In [4]:
# integer division
3 // 2

1

### Logical operators return a Boolean value

In [5]:
# bigger than, smaller than
2 > 3

False

In [6]:
# equals
2 == 2

True

In [7]:
# is different
2 != 4

True

### You can use either single or double quotation marks to define strings in Pyhon

In [8]:
# quotes define strings
"This is a string"

'This is a string'

In [9]:
# You may even use triple quotes if your string already contains single and double quotes
"""The tree is 6'2 high. """

"The tree is 6'2 high. "

### Different operators have different precedence

For example: 2*3^3

In [10]:
# here ** is the operator for exponentiation
2 * 3 ** 3

54

In [1]:
# use ( ) to define the order of operators
(2 * 3) ** 3

216

In [2]:
# % Modulo (remainder of integer division)
15 % 7

1

### Variable Assignment
* To create a new variable: x = 25, my_var = 67
* Note that in python, = is used for assign a value to a variable, while == is the equlity sign

In [4]:
# assign value 5 to variable x
x = 5

In [5]:
# display x
x

5

In [6]:
# assign value 67 to my_var
my_var = 67

In [7]:
# try type my_v then press the tab key
my_var

67

In [8]:
# Once you have defined a variable, you can use it to perform operations.
x + my_var

72

In [9]:
# assign a string
x = 8
x

8

In [17]:
# concatenate two strings
s = "this is a "
g = "string"
Sg = s + g
Sg

'this is a string'

### We cannot perform operations on variables that have different types:

### We can convert one data type into another using int( )-to integer, str( )-to string, float( )-to floating-point number

### You can assign different data types to the same variable within your program

### You can use the type funtion to determine the type of a variable

In [24]:
# determine data type for x

In [25]:
# This overwrites the previous varable assignment to x

### Built-In functions

In [26]:
# You want to determine the lenght of the string stored in variable s:

# returns the length of the variable specified within the parentheses.

In [27]:
# absolute value

In [28]:
# 3^6

In [29]:
# print value of variable s

In [30]:
# round to 3 digits

### Get help for built-in functions

In [43]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

### Strings

In [31]:
# Strings

# return the length of the string

### Python is object oriented. Each variable is an object that contain both the data and useful methods to manoipulate the data. 
* For example: astring = "ATCG ATCG", commend astring.split( ) --> apply the method split on data "ATCG"
* Press Tab after dot to list methods

In [32]:
# you can access all the methods accociated with an object by 
# typing the name of the object followed by a dot and pressing Tab

In [33]:
# replace characters

In [34]:
# position of first occurrence

In [35]:
#count occurrences

In [37]:

# split the string (using spaces by default)

In [38]:
# specify how to split

In [39]:
# remove leading and trailing white space

#### It is possible to use string methods without first assigning the string to a variable. Simply define the string using quotation marks, followed by a dot and the name of the method:

In [40]:
# It is possible to use string methods without first assigning the string to a variable. Simply define the string using quotation marks, followed by a dot and the name of the method:
# make uppercase

In [41]:
# make lowercase

In [43]:
# To concatenate strings, you can use the plus sign:

# separate with a space

In [44]:
# We can use the method join instead
# join requires a list of strings as input

In [45]:
# specify any symbol as delimiter

In [46]:
# Be careful not to confuse built-in functions with object-specific methods:

# call the built-in function "print" on a string

In [47]:
# if we try this

## Part 2. Data Structures
### Lists: an ordered collection of values. 
 * Values are surrounded by a pair of square brackers, seperated by commas
 * To access the element of a list, use the index of the element. 
 * Note that Python starts indexing at 0.

In [48]:
# created an empty list
# specify values
# using the list function)

In [50]:
# when you try to access a nonexistent element, you will get an error:

In [98]:
# We can also use index notation to update a value:

In [51]:
# you can access sequential elements by using the colon(:) operator.

In [52]:
# elements 0 to 1 (noninclusive)

In [53]:
# elements 1 to 3 (noninclusive)

In [54]:
# take the whole list

In [55]:
# from start to element 3

In [56]:
# from element 3 to the end

In [57]:
# You can use negative numbers to index from the end:

### These are the most useful methods for lists:

In [58]:
# append

In [59]:
# copy

In [60]:
# clear

In [61]:
# count

In [62]:
#index

In [63]:
# pop

In [64]:
# sort

In [65]:
# reverst

In [66]:
# To delete an element from a list