03701 HW3
Amy Ji

Question 1:

In [2]:
import pandas as pd
df = pd.read_csv('../data/Dalziel2016_data.csv')

In [ ]:
df.head()

In [ ]:
# convert list to a set to remove all duplicated values. 
cityName = set(df['loc'])

In [10]:
print(cityName)

{'COLUMBUS', 'SAN FRANCISCO', 'MILWAUKEE', 'NEW ORLEANS', 'NEW HAVEN', 'NEW YORK', 'NASHVILLE', 'WASHINGTON', 'PROVIDENCE', 'DETROIT', 'FALL RIVER', 'PITTSBURGH', 'DULUTH', 'ST LOUIS', 'CHICAGO', 'CLEVELAND', 'READING.US', 'LOS ANGELES', 'GRAND RAPIDS', 'TRENTON', 'BOSTON', 'RICHMOND', 'NEWARK', 'KANSAS CITY', 'MINNEAPOLIS', 'INDIANAPOLIS', 'PHILADELPHIA', 'SPRINGFIELD', 'SPOKANE', 'HARTFORD', 'TOLEDO', 'BALTIMORE', 'CINCINNATI', 'SEATTLE', 'BRIDGEPORT', 'ROCHESTER', 'SALT LAKE CITY', 'WORCESTER', 'BUFFALO', 'DENVER'}

In [19]:
# Creates an empty map to hold city names and counts.
cityCount = {}
# Fetch city name from the "loc" column in df
location = df["loc"]
# Loops through all rows in the column.
for city in location:
    # If city is not yet in the map, create one. If already in, plus one. 
    if city not in cityCount:
        cityCount[city] = 1
    else:
        cityCount[city] += 1

In [20]:
print(cityCount)

{'BALTIMORE': 1118, 'BOSTON': 1118, 'BRIDGEPORT': 1118, 'BUFFALO': 1118, 'CHICAGO': 1118, 'CINCINNATI': 1118, 'CLEVELAND': 1118, 'COLUMBUS': 1118, 'DENVER': 1118, 'DETROIT': 1118, 'DULUTH': 1118, 'FALL RIVER': 1118, 'GRAND RAPIDS': 1118, 'HARTFORD': 1118, 'INDIANAPOLIS': 1118, 'KANSAS CITY': 1118, 'LOS ANGELES': 1118, 'MILWAUKEE': 1118, 'MINNEAPOLIS': 1118, 'NASHVILLE': 1118, 'NEW HAVEN': 1118, 'NEW ORLEANS': 1118, 'NEW YORK': 1118, 'NEWARK': 1118, 'PHILADELPHIA': 1118, 'PITTSBURGH': 1118, 'PROVIDENCE': 1118, 'READING.US': 1118, 'RICHMOND': 1118, 'ROCHESTER': 1118, 'SALT LAKE CITY': 1118, 'SAN FRANCISCO': 1118, 'SEATTLE': 1118, 'SPOKANE': 1118, 'SPRINGFIELD': 1118, 'ST LOUIS': 1118, 'TOLEDO': 1118, 'TRENTON': 1118, 'WASHINGTON': 1118, 'WORCESTER': 1118}

In [23]:
# groupby city name and calculate mean value. 
df.groupby(['loc'])['pop'].mean()

loc
BALTIMORE         7.621327e+05
BOSTON            7.497160e+05
BRIDGEPORT        1.377390e+05
BUFFALO           5.278970e+05
CHICAGO           2.993272e+06
CINCINNATI        4.262704e+05
CLEVELAND         8.011217e+05
COLUMBUS          2.650888e+05
DENVER            2.828426e+05
DETROIT           1.240488e+06
DULUTH            9.669747e+04
FALL RIVER        1.171931e+05
GRAND RAPIDS      1.491154e+05
HARTFORD          1.460925e+05
INDIANAPOLIS      3.355697e+05
KANSAS CITY       2.318232e+05
LOS ANGELES       1.010930e+06
MILWAUKEE         5.133019e+05
MINNEAPOLIS       4.222321e+05
NASHVILLE         1.413296e+05
NEW HAVEN         1.562809e+05
NEW ORLEANS       4.341763e+05
NEW YORK          6.376268e+06
NEWARK            4.126030e+05
PHILADELPHIA      1.841881e+06
PITTSBURGH        6.230363e+05
PROVIDENCE        2.432906e+05
READING.US        1.069126e+05
RICHMOND          1.749708e+05
ROCHESTER         2.972658e+05
SALT LAKE CITY    1.306720e+05
SAN FRANCISCO     5.698762e+05
SEATTLE           3.345958e+05
SPOKANE           1.138130e+05
SPRINGFIELD       1.332612e+05
ST LOUIS          7.839325e+05
TOLEDO            2.529593e+05
TRENTON           1.175117e+05
WASHINGTON        5.119808e+05
WORCESTER         1.817012e+05
Name: pop, dtype: float64

In [28]:
def calcMean (columnName):
    result = df.groupby([columnName])['pop'].mean() 
    print(result)

In [29]:
calcMean('year')

year
1906    419780.235728
1907    431007.322048
1908    442081.566145
1909    452991.860039
1910    463730.610619
1911    474331.160626
1912    484869.543314
1913    495425.891660
1914    506080.338675
1915    516913.017375
1916    528004.060744
1917    539433.601787
1918    551281.773513
1919    563628.708914
1920    576542.098624
1921    589944.724338
1922    603608.247610
1923    617289.817180
1924    630746.581820
1925    643735.690275
1926    656014.291294
1927    667339.533653
1928    677468.566084
1929    686158.537372
1930    693187.655189
1931    698579.388369
1932    702612.979399
1933    705592.233960
1934    707820.957735
1935    709602.956396
1936    711242.035612
1937    713042.001072
1938    715306.658449
1939    718339.813434
1940    722425.580980
1941    727618.750327
1942    733734.955341
1943    740566.862671
1944    747907.138937
1945    755548.450804
1946    763283.464893
1947    770904.847844
1948    778205.266302
Name: pop, dtype: float64

In [30]:
calcMean('loc')

loc
BALTIMORE         7.621327e+05
BOSTON            7.497160e+05
BRIDGEPORT        1.377390e+05
BUFFALO           5.278970e+05
CHICAGO           2.993272e+06
CINCINNATI        4.262704e+05
CLEVELAND         8.011217e+05
COLUMBUS          2.650888e+05
DENVER            2.828426e+05
DETROIT           1.240488e+06
DULUTH            9.669747e+04
FALL RIVER        1.171931e+05
GRAND RAPIDS      1.491154e+05
HARTFORD          1.460925e+05
INDIANAPOLIS      3.355697e+05
KANSAS CITY       2.318232e+05
LOS ANGELES       1.010930e+06
MILWAUKEE         5.133019e+05
MINNEAPOLIS       4.222321e+05
NASHVILLE         1.413296e+05
NEW HAVEN         1.562809e+05
NEW ORLEANS       4.341763e+05
NEW YORK          6.376268e+06
NEWARK            4.126030e+05
PHILADELPHIA      1.841881e+06
PITTSBURGH        6.230363e+05
PROVIDENCE        2.432906e+05
READING.US        1.069126e+05
RICHMOND          1.749708e+05
ROCHESTER         2.972658e+05
SALT LAKE CITY    1.306720e+05
SAN FRANCISCO     5.698762e+05
SEATTLE           3.345958e+05
SPOKANE           1.138130e+05
SPRINGFIELD       1.332612e+05
ST LOUIS          7.839325e+05
TOLEDO            2.529593e+05
TRENTON           1.175117e+05
WASHINGTON        5.119808e+05
WORCESTER         1.817012e+05
Name: pop, dtype: float64

Question 2:

In [3]:
df2 = pd.read_csv('../data/Singh2015_data.csv')

In [4]:
df2.head()

   Line InfectionStatus  RecombinantFraction
0    21               I             0.182692
1    21               I             0.185039
2    21               I             0.185654
3    21               I             0.186667
4    21               I             0.190476

In [79]:
#Create an empty map
my_data = {}
# iterate through all rows in the df and output a tuple corresponding to the three elements/columns in a row.
for row in df2.itertuples(index=False, name=None):
    Line, IfS, RF = row[0], row[1], row[2]
    # If the Line is not alreay in the map, create a submap containing two keys:[]float for that Line.
    if Line not in my_data:
        my_data[Line] = {'W':[],'I':[]}
    # append the Recombinant Fraction
    my_data[Line][IfS].append(RF)

# Import numpy for easy average calculation
import numpy as np
# Iterate through keys in the map.
for key in my_data:
    print('Line',key, 'Average Recombinant Fraction')
    print('W:', np.mean(my_data[key]['W']))
    print('I:', np.mean(my_data[key]['I']))

Line 21 Average Recombinant Fraction
W: 0.17806558009
I: 0.1997298710375
Line 40 Average Recombinant Fraction
W: 0.177911198425
I: 0.1801296349
Line 45 Average Recombinant Fraction
W: 0.18714082895555553
I: 0.19119905962499997
Line 73 Average Recombinant Fraction
W: 0.17857852906
I: 0.19948773387500002