# Python Basics
# Part 3. Basic Programming

## 1. Common, General Functions

### max and min
* Return the largest or smallest item in a string, list, or tuple.

In [1]:
# Create list a with elements 1, 1, 2, 3, 5, 8 
max(1,1,2,3,5,8)

8

In [2]:
# Get the largest item in a
a = (1,1,2,3,5,8)
max(a)

8

* Use max or min directly by listing variables separated by commas

In [3]:
# Get the largest item among 1.2, 3.71, 1.15
max(1.2,3.71,1.15)

3.71

* Call function max on a string -- > return the character that has the largest value

In [4]:
# Use max on string "scientific computing"
s="scientific computing"
max(s)

'u'

In [6]:
# Use min on string "scientific computing"
min(s)

' '

* Function ord("z") return the numerical value of "z"

In [7]:
# Check the numerical value of "u"
ord("u")

117

### sum
* Return the sum of the elements of a list or a set.

In [8]:
# Get the sum of elements in list a
sum(a)

20

In [9]:
# Get the sum of unique elements in list 1, 1, 2, 3, 5, 8
# convert the list to a set. A set has no repetition, and it does not have an order. 
sum(set(a))

19

### in 
* Test for membership

In [12]:
# Test if "s" is a member of "string"
("s" in "string")

True

In [14]:
# Test if 36 is not a member of list [1, 2, 36]
[36 not in [1,2,36]]

[False]

In [15]:
# Test if tuple (1, 2) is a member of list [(1, 3), (1, 2), 1000, 'aaa']
((1,2) in [(1,3),(1,2),1000,'aaa'])

True

* For dictinaries, you can test whether a key exists

In [23]:
# Test if the key "c" exists in dictionary {"a": 1, "b": 2, "c": 3}

## 2. The Flow of a Program

### Conditional Branching
* If a certain condition is met, one or more statements are executed, otherwise other statements may be executed.

#### if, else

In [25]:
# Assign valuse to variable x

# If x can be divided by 2, print "Divisible by 2", otherwise print "Not divisible by 2"

#### if, elif, else
* Check multiple conditions

In [27]:
# Assign valuse to variable x

# If x can be divided by 2, print "Divisible by 2". If not, check if x can be divided by 3, if true, print "Divisible by 3". 
# If not, check if x can be divided by 5, if true, print "Divisible by 5". If faulse, check if x can be divided by 7, if true, 
# print "Divisible by 7". If faulse, print "Not divisible by 2,3,5,7".

### Looping
* Repeat a piece of code multiple times

#### while --> repeat a piece of code so long as the specified condition is met.

In [29]:
# Print the integers from 0 to 99

In [31]:
# Print the first few Fibonacci numbers
# Fibonacci numbers are the series of numbers where each number is the sum of the two preceding numbers.
# Example: 0, 1, 1, 2, 3, 5, 8

## Beware of infinite loops! To stop execution, click Kernel -> interrupt

In [33]:
# Example of an infinite loop

#### Two fommands to modify the behavior of the loop
* break --> stops the cycle
* continue --> skips the remaining code within the loop and moves to the next iteration

#### break

In [35]:
# find the first integer >= 15000 that is divisible by 19

#### continue

In [37]:
# list the first 100 even numbers

#### for --> iterate through the elements of a sequence

In [39]:
# Print the elements of a list [1, 5, "mystring", True]

# Note: you can replace "element" with any names you want, for example: "item", "a", "list_member".

In [41]:
# Print the characters of a string

# You can replace "characters" here with any names other names.

* A trick to print the key:value pairs of a dictionary:

In [43]:
# Create a dictionary z with key:value pairs of 0:"a", 1:"b", 2:"c"

In [45]:
# Use built-in method .items() to get the key:value pairs in z

In [47]:
# Use a for loop to print the key:value pairs of z

#### range( ) --> useful function when you need to iterate through a range of numbers in a for loop

In [49]:
# Use range function to create a list with the range start from 0 and stop at 10 with increments of 1

In [51]:
# Use range function to create a list with the range start from 1 and stop at 5 with increments of 1

In [53]:
# Use range function to create a list with the range start from 0 and stop at 10 with increments of 3

In [55]:
# Print x^2 for x from 0 to 9

#### enumerate --> function that you can use to access both an element of a list and its index.

In [57]:
# Make a list of elements and their corresponding index of my_string

In [59]:
# Use a for loop to print the elements and their indices:

# Here you can use "k, x" or "index, value" or anyother names your prefer.

In [61]:
# Create a string z with elements: 1, 5, "mystring", True

# Use a for loop to print for each element with its index valuse

#### If you want to apply the same function to all elements of a list, you can use list comprehension.

In [63]:
# Create a list a with elements 1 ,2, 5, 14, 42, 132

# for each element x in list a, calculate x^2 and append the result to a new list, called b

## 3. Working with Files

### Text Files

#### Open a file --> f = open("file_name.txt", "w")
* f --> the file handle. It is an object so you can use f.method() to work on the file.
* open() --> function to open a file. "file_name.txt" is the path to the file. "w" stand for "writing", put "r" for reading, "a" for appending.

In [65]:
# Open file mytextfile.txt

In [67]:
# Get the name of the file with method .name

In [69]:
# Get the mode of the file with method .mode

In [71]:
# Get the encoding of the file with .encoding

#### When a file f is open for writing, you can

In [73]:
# Write string and go to a new line

In [75]:
# Write multiple strings provided as a list

#### When you are done reading or writing, you should close the file

In [77]:
# close the file use .close()

#### Forgetting to close a file is quite common, and can have unintended consequences. 
#### To avoid the problem altogether, use the "with" statement, which automatically opens and closes the file.

In [79]:
# with

In [81]:
# Write a program that reads mytextfile.txt and writes it line by line into another file

### Character-Delimited Files

#### We are going to work with the "Dalziel2016_data.csv" file you downloaded earlier. Make sure that this file is in the same folder as your current jupyter notebook.

In [83]:
# Read the first few lines of this csv file. 

    # create iterator
    
        # print each line; delete leading/trailing spaces

#### This is a comma-separated file with five columnes, and the first line specifies the header. Instead of reading it using the methods introduced above for text files, we can use the CSV module:

In [85]:
# To use the csv, we need to first import it. I will tell you more details about modules and packages in the next lecture. 



    # Useing csv.DictReader(f) to read the file, each row is converted into a dictionary, with keys created auomatically from the header.

        # print as dictionary

In [87]:
#Select all entreis for the location Washinton and writing them to a new file using the csv.DictWriter:

    # Note: Pay attention to the indentations here!