# Python Basics 
## Part 5. Work with Numpy and Pandas

## Work with Numpy

#### Import Numpy

#### The main data structure provided by Numpy is called array, and is meant to contain 
* numerical vectors(1-d arrays)
* matrices (2-d arrays)
* tensors (n-d arrays).

In [ ]:
# Create an array containing 0-8

In [ ]:
# Multiply array by 2

In [ ]:
# Add 2 to elements of array

#### Attributes and functions associated with arrays. 
* a.shape, a.ndim, a.dtype.name, a.size
* a.sum( ), a.mean( ), a.std( ), a.std( ), a.min( ), a.max( )

In [ ]:
# length along each dimension

In [ ]:
# number of dimensions

In [ ]:
# data type of content

In [ ]:
# number of elements

In [ ]:
# sum

In [ ]:
# mean

In [ ]:
# Standard deviation

In [ ]:
# min

In [ ]:
# max

#### Numpy library provideds many functions that can be applied to all elememts of the array
* For example:   np.sqrt( ), np.exp( )

In [ ]:
# square root

In [ ]:
# exponentiation

#### Multiple ways of creating arrays:

In [ ]:
# convert the following list to one-dimensional array: [1, 2, 3, 4]

# data type of elements in this array?

In [ ]:
# convert the following list to one-dimensional array: [1.0, 2.0, 3.0, 4.0]

# data type of elements in this array?

In [ ]:
# convert list of lists to two-dimensional array: [[1, 2], [3, 4]]

In [ ]:
# create 3X2 array filled with 0.0 (floating-point)

In [ ]:
# create an array containing the integers from 0 to 8 
# and arrange it in a 3X3 array

In [ ]:
# create a 2X3 array with random values
# draw from normal distribution

#### Access the elements using indices. 
* Access a coefficient: a[n]
* create a slice: a[n:m]
* Access an element in a matrix: m[row, column]

In [ ]:
# access the 2 element in array a

In [ ]:
# access the first 4 elements in a

In [ ]:
# access the last three elements in a

In [ ]:
# You have a matrix m

In [ ]:
# from m, extract row: 1-3, column: 2-4 to make a submatrix

In [ ]:
# what is the second row of m?

In [ ]:
# what is the second column of m?

#### Operate by row and column
* axis = 0 
* axis = 1

In [ ]:
# sum of whole matrix

In [ ]:
# The sum of each row

In [ ]:
# The sum of each column

# Working with Pandas

#### Import Pandas

In [ ]:
import pandas as pd

### Pandas and DataFrame
#### Pandas provides two main data structures:
* Series --> to store a one-dimensional array. Data stored in a Series are all of the same type. 
* DataFrame --> contains data organized in rows and columns, as in a spreadsheet. In a DataFrame, each column can be of a different type.

#### Generate DataFrame
* use pd.DataFrame( )
* read CSV file into DataFrame

In [ ]:
# create a dataframe with column name: value being "time":[1, 2], "x":[3, 4] and "y":[5, 6]

In [ ]:
# From dictionary of ndarrays/lists
d = {"one": [1.0, 2.0, 3.0, 4.0], "two": [4.0, 3.0, 2.0, 1.0]}
# Create a dataframe from dictionary d

In [ ]:
# From multiple arrays of data
t = np.arange(0, 10, 0.1)
x = np.sin(t)
y = np.cos(t)
# Create a dataframe with column names 'Time', 'x' and 'y', and corresponding values from t, x, and y

#### In pandas, rows are addressed through indices and columns through their name. You can address a column in two ways:
* df.column_name
* df['column_name']

In [ ]:
# get the column "Time" in df

In [ ]:
# get the column "Time" in df using a 2nd method

#### To extract two columns at the same time:
* df[ [ 'column1_name', 'column2_name' ] ]

In [ ]:
# Extract column "Time" and "y" from df

In [ ]:
# Display the first few rows

In [ ]:
# Display the last few rows

In [ ]:
# Display the first row

In [ ]:
# Extract rows from 5 to 10

In [ ]:
# Extract rows 4:10 from columns 'Time' and 'y' by using column names

In [ ]:
# To extract specific rows 4:10 and columns 'Time' and 'y' by using row/column index

In [ ]:
# To directly access the data, not to the DataFrame

# This returns a numpy array

#### Read CSV file into DataFrame
* df = pd.read_csv('File_name')

In [ ]:
# read Dale2015_data.csv into DataFrame

Note: 
* You can specify the delimiter --> sep=':' , sep=' ' , default sep=','

#### Attributes and methods
* df.shape --> (# of rows, # of columns)
* df.columns --> names of the columns
* df.head( ), df.tail( ) --> show the first/last few rows of df

In [ ]:
# get the shape of data

In [ ]:
# get the names of the columns of data

In [ ]:
# print the values in column 'Female_plumage_score'

In [ ]:
# create a new column called 'Sum_scores' with sum of Female_plumage_score and Male_plumage_score

In [ ]:
# run data.head() to see the result

In [ ]:
# add a column name 'Study' to data with value 1

In [ ]:
# show the last few lines of data

In [ ]:
# use NumPy function to add a cloumn name 'Rnd' of random numbers
# data.shape[0] provides the number of rows

In [ ]:
# To remove a single column use: del(df.['column_name'])
# now, remove the the column 'Sum_scores' from data

In [ ]:
# To remove multiple columns use: data.drop(['col_1, col_2'], axis=1, inplace = True)
# now, remove the columns 'Rnd' and 'Study'

In [ ]:
# check the dataframe

In [ ]:
# select data by column label df['column name']
# select first three rows of column 'Scientific_name' in data

In [ ]:
# column names can be specified using a dot df.column_name
# use this method to select first three rows of column 'Scientific_name' in data

In [ ]:
# select rows by index label: df.loc[row_index_label]
# select first four rows of columns 'Scientific_name' and 'English_name'

In [ ]:
# select rows with Scientific_name Zosterops mouroniensis

In [ ]:
# select subset by x, y position 
# select third row, second column

In [ ]:
# filter rows based on their content: df[df['column_name' > n ]]
# select rows with Male_plumage_score larger than 65

In [ ]:
# concatenate multiple conditions: df[(df.column_name1 > n ) & (df.column_name2 < m )]
# In data, concatenate Male_plumage_score > 70 and Female_plumage_score < 40

In [ ]:
# take a subset of the data, and separate it from the original data

In [ ]:
# sort rows by Male_plumage_score, then by Female_plumage_score

In [ ]:
# Unique Male_plumage_score

#### DataFrame.plot( ) is convenient for quick visualizations

In [ ]:
# df.column_name.hist()
# show the histgrame of Male_plumage_score

In [ ]:
# df.plot.scatter
# In data, plot the scatter plot for x='Male_plumage_score', y='Female_plumage_score'

In [ ]:
# df[['column_1', 'column_2']].plot.box()
# In data, plot the box plot of 'Male_plumage_score' and 'Female_plumage_score'

#### Grouping
* Use DataFrame to efficiently group objects, and do a statistical evaluation of each group.
* df.groupby('column_name')
* df.groupby('column_name').get_group('group_name') -> Get the groups as DataFrames

In [ ]:
# Generate a DataFrame
data = pd.DataFrame({
    'Gender': ['f', 'f', 'm', 'f', 'm',
              'm', 'f', 'm', 'f', 'm', 'm'],
    'TV': [3.4, 3.5, 2.6, 4.7, 4.1, 4.1, 
          5.1, 3.9, 3.7, 2.1, 4.3]
})

In [ ]:
# Group the data by Gender

# Do some overview statistics

In [ ]:
# Plot the data:

In [ ]:
# Get the groups as DataFrames

In [ ]:
# Get the corresponding nmypy-array

### Exercise

#### 1. Read CSV file Gachter2016_data.csv into DataFrame

In [ ]:
# Read data Gachter2016_data.csv

#### 2. Use .head() to see the structure of the data

In [ ]:
# See the structure

#### 3. Extract data for Claim == 0 and copy the dataFrame to a new dataFrame

In [ ]:
# Extract data for Claim ==0 and copy the dataFrame

#### 4. From data extreact for Claim == 0, print the row showing the country with the highest Cumulativefrequency

In [ ]:
# Country with the highest frequency of 0s

#### 5. Extract the data for Claim == 4 and copy the DataFrame to generate a new DataFrame

In [ ]:
# extract the data for Claim == 4 and copy the DataFrame

#### 6. In this new DataFrame, update values for "Claim" to 5, and the "CumulativeFrequency" to be 1 - "CumulativeFrequency" of Claim == 4.

In [ ]:
# update values

#### 7. From the DataFrame obtained in 6, print the row showing the country with the lowest Cumulativefrequency

In [ ]:
# Country with the lowest frequency of 5s

#### 8. From the DataFrame obtained in 6, print the row showing the country with the highest Cumulativefrequency

In [ ]:
# Country with the highest frequency of 5s