# Working with loops

## For loops

For loops in python looks like this:
```python
for item in object:
    # do something with item, e.g.
    print(item)   
```
Note: in a for-loop, what ***item*** acturally is depends on what ***object*** we use.
For example, if we use ***list*** 
```python
for item in my_list:
    print(item)
```
here we loop through all elements in the list
if we use ***string***
```python
for item in my_string:
    print(item)
```
here we loop through all characters in the string

***Important:*** know the ***datastructure*** of the ***object*** you loop through!

### Loop through a string

In [1]:
my_string = "Hello"
for item in my_string:
    print(item)

H
e
l
l
o

**Note: you can replace "item" with any names you want, for example: "element", "a", "character", "list_member".**

### Loop through a list

In [2]:
z = [1, 5, "mystring", True]
for item in z:
    print(item)

1
5
mystring
True

In [3]:
z = [1, 5, "mystring", True]
for a in z:
    print(a)

1
5
mystring
True

### Loop through items in a dictionary

In [4]:
d = {0:"a", 1:"b", 2:"c"}

In [5]:
d.items()

dict_items([(0, 'a'), (1, 'b'), (2, 'c')])

In [6]:
# Use a for loop to print the key:value pairs of z
for (key,val) in d.items():
    print(key, "->", val)

0 -> a
1 -> b
2 -> c

In [7]:
# You can use any name for (key,val) 
# as long as you follow the format 
# of the elements in d.items()
for (k,v) in d.items():
    print(k, "->", v)

0 -> a
1 -> b
2 -> c

### Loop through numbers
* `range()` -> range object that represents the sequence of integers

In [8]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [9]:
for x in range(6):
    print(x**2)

0
1
4
9
16
25

### Loop with enumerate
* `enumerate` -> add an index to an iterable

In [10]:
# Use a for loop to print the elements and their indices:
for k, x in enumerate(my_string):
    print(k,x)
# k -> the index
# x -> the item (character) in the object (string)

0 H
1 e
2 l
3 l
4 o

### Counter
`counter += 1` -> increments by 1 each iteration, same as `counter = counter + 1`

In [11]:
counter = 0
for item in z:
    print(counter, item)
    counter += 1

0 1
1 5
2 mystring
3 True

## While loops 
**Basic syntax**
```python
while condition:
    # do something
```
* `condition` is checked before each iteration
    * if `True`, the code inside runs
    * if `False`, the loop stops
**`while` loop can contain `break`, `continue` and `else`
* `else` in `while` loop:
    * the `else` block runs only if the `while` loop ends normally
    * if the loop is exited with a `break`, the `else` block is skipped
* `break` in `while` loop:
    * `break` immediately stops the loop, no matter the condition
    * `continue` in `while` loop:
    * `continue` skips the rest of the code for the current iteration and goes back to check the condition

### Examples:

* `break`

In [12]:
x = 1
while x <= 10:
    print(x)
    if x == 5:
        break  # stop the loop when x == 5
    x += 1

1
2
3
4
5

* `continue`

In [13]:
x = 0
while x < 5:
    x += 1
    if x == 3:
        continue  # skip printing when x == 3
    print(x)

1
2
4
5

* `else`

In [14]:
x = 3
while x > 0:
    print(x)
    x -= 1
else:
    print("Loop finished!")

3
2
1
Loop finished!

In [15]:
x = 3
while x > 0:
    print(x)
    if x == 2:
        break   # exit early
    x -= 1
else:
    print("Loop finished naturally")

3
2

## Save data in a loop
To save data generated for each iteration, you can
* write to a file
* save data in a list
* save data in a dictionary
* save data in a dataFrame

### Write to a file

In [16]:
with open("results.txt", "w") as f:
    x = 1
    while x <= 5:
        f.write(f"{x},{x**2}\n")
        x += 1

### Save data in a list
1. create an empty list before you run the loop
2. append result in each iteration to the list
3. If the result in each iteration is a number:
   * the resulting list is a list of numbers
5. If the result in each iteration is a dataFrame:
   * the resulting list is a list of dataFames

In [17]:
results = []
x = 1
while x <= 5:
    results.append(x ** 2)   # save square of x
    x += 1

print(results)  # [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

### Save data in a dictionary

In [18]:
import csv

In [19]:
# Create an empty dictionary with city as the key and value as the list of populations
cityPop = {}

with open("Dalziel2016_data.csv") as fr:
    reader = csv.DictReader(fr)
    for i, row in enumerate(reader):
        city = row['loc']
        pop = float(row['pop'])
        # Use dict.get(key, defualt) -> get the value of a key from dict, if the key does not exit, reture default
        cityPop[city] = cityPop.get(city, [])
        # add element to the city's population list
        cityPop[city].append(pop)

In [20]:
cityPop.keys()

dict_keys(['BALTIMORE', 'BOSTON', 'BRIDGEPORT', 'BUFFALO', 'CHICAGO', 'CINCINNATI', 'CLEVELAND', 'COLUMBUS', 'DENVER', 'DETROIT', 'DULUTH', 'FALL RIVER', 'GRAND RAPIDS', 'HARTFORD', 'INDIANAPOLIS', 'KANSAS CITY', 'LOS ANGELES', 'MILWAUKEE', 'MINNEAPOLIS', 'NASHVILLE', 'NEW HAVEN', 'NEW ORLEANS', 'NEW YORK', 'NEWARK', 'PHILADELPHIA', 'PITTSBURGH', 'PROVIDENCE', 'READING.US', 'RICHMOND', 'ROCHESTER', 'SALT LAKE CITY', 'SAN FRANCISCO', 'SEATTLE', 'SPOKANE', 'SPRINGFIELD', 'ST LOUIS', 'TOLEDO', 'TRENTON', 'WASHINGTON', 'WORCESTER'])

### Save data in a dataframe
* for data structure of columns and rows

In [21]:
import pandas as pd

In [22]:
data = []
x = 1
while x <= 5:
    data.append({"x": x, "square": x**2})
    x += 1

df = pd.DataFrame(data)
print(df)

   x  square
0  1       1
1  2       4
2  3       9
3  4      16
4  5      25

### Save data as a list of dataframes
* If your want to save results: X_position, Y_position for loops
* Each iteration, you measure the X_position, Y_position for n objects. n can be different in each iteration
* To save all X_poistion and Y_position for all measurments
    * create an empty list before the loop
    * in the loop, save the iteration results as a dataframe
    * append the dataframe to the list
    * After the loop, concatinate all dataframe in the list

In [23]:
import numpy as np

In [24]:
# Let's generate some random data
sample_sets = np.random.randint(5, 20, size = 10)

# Create an empty list to sort results
result_list =[]
# loop through sample_sets
for n in sample_sets:
    x_position = np.random.randn(n)
    y_position = np.random.randn(n)
    df = pd.DataFrame({"X Position": x_position, "Y Position": y_position})   # Save n data points in a dataframe
    result_list.append(df)       # Append the df to result_list

# Concantinate the list of datafarme to get the full data
df_full = pd.concat(result_list)

In [25]:
df_full

    X Position  Y Position
0     0.497569   -0.140075
1     0.993577    0.816326
2    -1.291267    0.239710
3    -0.526855   -0.331950
4     0.289639    0.240985
..         ...         ...
5     1.576418   -0.648865
6    -0.736048    1.667659
7     0.208858   -1.396262
8     0.800619   -0.144505
9     0.981077   -0.411940

[105 rows x 2 columns]

In [26]:
# the number of measurments in df_full
len(df_full["X Position"])

105

In [27]:
# the totoal number of samples from sample_sets
print(sum(sample_sets))

105